#heading{
/*color:green;*/
text-align:center;
font-size:20pt;
}

.container{
padding-top:30pt;
height: 300pt;
width: 300pt;
margin:auto;
}

.label{
height:20pt;
width:40%;
margin:10pt;
background:red;
z-index=1;
align:left;
overflow:hidden;
}

.field{
height:20pt;
width:40%;
margin:10pt;
z-index=1;
background:green;
align:right;
overflow:hidden;
}

.button{
margin-top:10pt;
margin-left:40pt;
background:green;
color:white;
font-size:12pt;
width:200pt;
height:30pt;
cursor:pointer;
}

.text{
height:20pt;
width:200pt;
float: right;
}